body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: grey;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    cursor: pointer;
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-top: 5px;
    background: #eee;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}

#error {
    color: red;
}

#counter {
    margin-top: 10px;
    font-size: 14px;
}